body{
    background-color: #f0f2f5;
    font-family: consolas;
}

#goiaba{
    font-family: consolas;
    font-size: 2rem;
}

button{
    font-family: consolas;
}

textarea{
    width: 2.7rem;
    height: 2rem;
    resize: none;
    text-align: center;
    background-color: white;
    padding-top: 0.7rem;
    padding-bottom: 0.3rem;
    font-size: 1.6rem;
    border: none;
    border-radius: 3px;
    color: black;
    box-shadow: 0 0 5px 1px rgba(0,0,0,.2) inset;
    &:focus{
        outline-color: #007bff;
    }
}

textarea:disabled{
    color: #87898b;
}

.um{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2.5rem; 
    border-radius: 8px; 
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding-top: 0rem;
    width: 345px;
}

.last{
    margin-right: 1rem;    
}

#final{
    margin-top: 1.5rem;
    width: 20rem;
    height: 3rem;
    background: #007bff; 
    color: white; 
    border: none; 
    cursor: pointer;
    font-size: 1.3rem;
    &:hover{
        background: #005fd3;
    }
}

#searching{
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
}

#searching h1{
    text-align: center;
}

#victory{
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
}

#victory h1{
    text-align: center;
    font-size: 60px;
}

#defeat{
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
}

#defeat h1{
    text-align: center;
    font-size: 60px;
}